<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- styles -->
    <link rel="stylesheet" href="./styles/general.css" />
    <link rel="stylesheet" href="./styles/nav.css" />
    <link rel="stylesheet" href="./styles/index.css" />
    <link rel="stylesheet" href="./styles/editprofile.css" />
    <link rel="stylesheet" href="./styles/recent.css" />

    <!-- scripts -->
    <script src="//code.jquery.com/jquery.min.js"></script>

    <title>Edit Profile | Girls</title>

  </head>
  <body>
    <!-- NAVIGATIONS!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    <!-- top navigation -->
    <nav class="nav-container nav-top-container">
      <ul class="nav-top-items">
        <li>
            <a id="logo" href="/homepage">GIRLS</a>
        </li>
        <li>
            <form action="/globalSearch" method="GET">
                <div class="search">
                    <span class="material-symbols-outlined" id="search-symbol">search</span>
                    <input type="search" class="search-input" name="query" placeholder="Start tags with #">
                    <button type="submit" class="search-button">Search</button>
                </div>
            </form>
        </li>
      </ul>
    </nav>
    <!-- top navigation end -->

      <!-- side navigation left -->
      <nav class="nav-container nav-side-left-container">
        <div class="left-wrapper">
            <ul class="nav-side-items">
                <li class="nav-symbol">
                  <a class="nav-symbol-button" id="home-button" href="/homepage">
                    <span
                      class="material-symbols-outlined"
                      id="home-symbol"
                    >home</span>
                    Home
                  </a>
                </li>
                <li class="nav-symbol">
                  <a class="nav-symbol-button" id="profile-button" href="/viewprofile">
                    <span
                      class="material-symbols-outlined"
                      id="profile-symbol"
                    >person</span>Profile
                  </a>
                </li>
                
                <li>
                  <a class="nav-button" id="create-button" href="/createpost">Create Post</a>
                </li>
                <li>
                  <a class="nav-button" id="logout-button"  href="/logout">Log Out</a>
                </li>
            </ul>
        </div>
      </nav>
      <!-- side navigation left end -->

      <!-- side navigation right -->
      <nav class="nav-container nav-side-right-container">
        <div class="right-wrapper">
            <ul class="nav-side-right-items">
                <li>Sort by:</li>
                <li class="nav-symbol">
                    <a class="nav-symbol-button" id="recent-button" href="/recent">
                      <span
                        class="material-symbols-outlined"
                        id="filter-symbol"
                      >schedule</span>Recent
                    </a>
                  </li>
                  <li class="nav-symbol">
                    <a class="nav-symbol-button" id="popular-button" href="/popular">
                      <span
                        class="material-symbols-outlined"
                        id="filter-symbol"
                      >filter_alt</span>Popular
                    </a>
                  </li>
            </ul>
        </div>
      </nav>
<!-- NAVIGATIONS END!!!!!!!!!!!!!!!!!!!!!!!!!!! --> 

      <!-- content -->
      <div class="content-container">
        <div class="main">
          <h1 class="hometext">Edit Profile</h1>
          <div class="panel">
            <form
              id="profileForm"
              method="POST"
              action="/updateProfile"
              enctype="multipart/form-data"
            >
              <div class="profpic">
                <img src="{{profPicLink}}" id="pic" />
                <input
                  type="file"
                  id="profpicfile"
                  name="profPic"
                  accept="image/gif, image/jpeg, image/png"
                  onchange="readURL(this)"
                />
                <script>
                  function readURL(input) { if (input.files && input.files[0]) {
                  var reader = new FileReader(); reader.onload = function (e) {
                  document.querySelector("#pic").setAttribute("src",e.target.result);
                  }; reader.readAsDataURL(input.files[0]); } }
                </script>
                <button
                  onclick="change()"
                  class="uploadbtn"
                  id="uploadbtn"
                >Upload</button>
                <script>
                  function change() {
                  document.getElementById("uploadbtn").innerHTML="Uploaded!"; }
                </script>
              </div>

              <div class="bio">
                <h3>Bio</h3>
                <textarea
                  id="biobox"
                  name="bio"
                  rows="3"
                >{{bio}}</textarea>
              </div>

              <div class="buttons">
                <button class="savebtn">Save</button>
                <input
                  type="button"
                  class="backbtn"
                  value="Back"
                  onclick="saveAndRedirect()"
                />
              </div>
            </form>

          </div>
        </div>
    </div>

    <script>
      function saveAndRedirect() { let form =
      document.getElementById("profileForm"); form.submit();
      window.location.href = `/viewprofile`; }
    </script>

  </body>

</html>
