<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In | Girls</title>
    <link rel="stylesheet" href="./styles/login.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="main">
        <div class="spacer"></div>
        <div class="panel">
            <div class="header">
                <h1>LOGIN</h1>
            </div>

            <form action="/login" method="post">
                <div class="username">
                    <h3>Username</h3>
                    <input type="text" placeholder="Enter Username" id="uname" name="uname" required>
                </div>
                <div class="password">
                    <h3>Password</h3>
                    <input type="password" placeholder="Enter Password" id="psw" name="psw" required>
                </div>
                <div class="buttons">
                    <div class="rmblogin">
                        <label>
                            <input type="checkbox" name="remember" id="remembercheck" value="isRememberMe"> Remember me
                        </label>
                        <span class="notyetuser"><p>Not yet a user? <a href="/signup">Sign Up</a></p></span>
                    </div>
                    
                    <button type="submit" class="loginbtn" onclick="rememberMe()">Login</button>
                
                    <input type="button" class="backbtn" value="Back" onclick="history.back()">
                </div>
            </form>
            
        </div>
        <div class="spacer"></div>
    </div>

    <!-- The Modal -->
    <div id="myModal1" class="modal" style="{{#if showError1}}display: block;{{else}}display: none;{{/if}}">
    <!-- Modal content -->
    <div class="modal-content">
        <button class="close" onclick="myFunc()">X</button>
        <p>Wrong password!</p>
    </div>
    </div>

    <!-- The Modal -->
    <div id="myModal2" class="modal" style="{{#if showError2}}display: block;{{else}}display: none;{{/if}}">
    <!-- Modal content -->
    <div class="modal-content">
        <button class="close" onclick="myFunc()">X</button>
        <p>No account with this username!</p>
    </div>
    </div>

    <!-- The Modal -->
    <div id="myModal3" class="modal" style="{{#if showError3}}display: block;{{else}}display: none;{{/if}}">
    <!-- Modal content -->
    <div class="modal-content">
        <button class="close" onclick="myFunc()">X</button>
        <p>Please fill up both fields!</p>
    </div>
    </div>

    <script>
    function myFunc() {
        $(".modal").hide();
    }

    {{!-- const rmCheck = $("#remembercheck");
    const pswInput = $("#psw");
    const unameInput = $("#uname");

    if (localStorage.checkbox && localStorage.checkbox !== "") {
        rmCheck.setAttribute("checked", "checked");
        pswInput.value = localStorage.psw;
        unameInput.value = localStorage.uname;
    }
    else {
        rmCheck.removeAttribute("checked");
        pswInput.value = "";
        unameInput.value = "";
    }

    function rememberMe() {
        if (rmCheck.checked && unameInput.value !== "" && pswInput.value !== "") {
            localStorage.uname = unameInput.value;
            localStorage.pswInput = pswInput.value;
            localStorage.checkbox = rmCheck.value;
        }
        else {
            localStorage.uname = "";
            localStorage.pswInput = "";
            localStorage.checkbox = "";
        }
    } --}}
    </script>

</body>
</html>