<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Girls</title>
    <link rel="stylesheet" href="./styles/signup.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="main">
        <div class="spacer"></div>
        <div class="panel">
            <div class="header">
                <h1>REGISTER</h1>
            </div>
            <form action="/signup" method="post">
                <div class="username">
                    <h3>Username</h3>
                    <input type="text" placeholder="Enter Username" name="uname" required>
                </div>
                <div class="password">
                    <h3>Password</h3>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                </div>
                <div class="buttons">
                    
                    <span class="alruser"><p>Already a user? <a href="/login">Log In</a></p></span>
                    
                    <button type="submit" class="regbtn">Register</button>
                    
                    <input type="button" class="backbtn" value="Back" onclick="history.back()">
                </div>
            </form>
            
        </div>
        <div class="spacer"></div>
    </div>

    <!-- The Modal -->
    <div id="myModal1" class="modal" style="{{#if showError1}}display: block;{{else}}display: none;{{/if}}">
    <!-- Modal content -->
    <div class="modal-content">
        <button class="close" onclick="myFunc()">X</button>
        <p>Account already exists!</p>
    </div>
    </div>

    <script>
    // When the user clicks on div, close the popup
    function myFunc() {
        $(".modal").hide();
    }
    </script>

</body>
</html>