.main {
    background: none;
    width: 100%;
    top:0;
    left:0;
    margin: 0;
    padding: 0;
}

.hometext {
    text-align: center;
    font-size: 33px;
    color: var(--pink5);
}

.panel {
    background-color: var(--pink3);
    min-height: 550px;
    border-radius: 20px;
    margin:auto;
    display: flex;
    flex-direction: column;
}

.buttons, .bio {
    width: 67%;
    max-width: 500px;
    margin:auto;
}

.bio{
    margin-top: 70px;
    margin-bottom: 30px;
}

#biobox {
    width:100%;
    color: #000;
    padding: 20px;
    background: var(--pink3);
    margin:auto;
    border-radius: 20px;
}

.header {
    width: 75%;
    margin:auto;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 0;
}

h1{
    color: #FB4570;
    font-size: 25px;
    margin:auto;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}

.profpic {
    margin:auto;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#pic {
    border-radius: 50%;
    margin-bottom: 20px;
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#profpicfile {
    border-color: #32000C;
    border: 1px;
    background-color: #ffc8c8;
    color: #FB4570;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    opacity: 0;
    cursor: pointer;
    object-fit: cover;
}

h3 {
    color: #32000C;
    margin:0;
    padding: 0;
    font-weight: 400;
    margin-top: 15px;
}

.savebtn, .uploadbtn {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #FB4570;
    color:#FFFFFF;
    position: relative;
    border-radius: 50px;
    border-width: 1px;
}

.backbtn {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #FFEBEB;
    color:#FB4570;
    border-radius: 50px;
    margin-bottom: 30px;
    border-width: 1px;
}

#profileForm{
    margin-top: 20px;
}

.uploadbtn {
    top: 150px;
    padding: 8px 16px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.uploadbtn:hover {
    background-color: var(--pink1);
}