@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;800&display=swap');

* {
    font-family: 'Syne', sans-serif;
    font-size: 20px;
}

.main {
    background-color: #EE7C9A;
    width: 100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.panel {
    background-color: #FFEBEB;
    width:50%;
    min-width: 700px;
    height: 70%;
    min-height: 550px;
    border-radius: 20px;
    margin:auto;
    display: flex;
    flex-direction: column;

}

.spacer {
    height:15%;
}

.buttons {
    width: 67%;
    margin:auto;
    
}

.username, .password {
    width: 67%;
    margin:auto;
    margin-bottom: 0;
}

.header {
    width: 67%;
    margin:auto;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 0;
}

h1{
    color: #EE7C9A;
    font-size: 30px;
    margin:auto;
    font-weight: 800;
    text-align: center;
}

h3 {
    color: #32000C;
    margin:0;
    padding: 0;
    font-weight: 400;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #32000C;
    box-sizing: border-box;
    -webkit-border-radius: 50px;
    margin-bottom: 0;
}

.rmblogin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    
}

.rmblogin a {
    color: #FB4570;
}

.remembercheck {
    
    margin-top: 25px;
}
.loginbtn {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #FB4570;
    color:#FFFFFF;
    border-radius: 50px;
}

.backbtn {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #FFEBEB;
    color:#FB4570;
    border-radius: 50px;
    margin-bottom: 30px;
}

/* The Modal (background) */
.modal { 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 10px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }