* {
    font-family: "Syne";
    --pink1: #EE7C9A;
    --pink2: #F3CFD6;
    --pink3: #FFEBEB;
    --pink4: #9F0840;
    --pink5: #FB4570;
    --brown: #32000C;
}

#home-symbol, #profile-symbol {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.post {
    width: 98% !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dp {
    object-fit: cover;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: var(--pink1) !important;
}

.handle {
    font-size: 30px;
    margin: 0;
}

.title {
    font-size: 25px;
    font-weight: 500;
    color: var(--brown);
    margin: 0;
}

.user {
    font-size: 20px;
    color: var(--brown);
    margin: 0;
}


.headerpost {
    padding: 0 0 0 10px;
}

.post-content {   
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 25px;
    overflow-wrap: break-word;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.count {
    margin: 0;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 15px;
    font-size: 20px;
    cursor: default;
}

.count:nth-child(6){
    margin-right: auto;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48;
    color: var(--brown);
    font-size: 22px;
}


.icon {
    border: 0;
    background-color: white;
    cursor: pointer;
    outline: 0;
}

.material-symbols-outlined:focus {
    outline: none;
}

.tagpost {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: auto;
    text-justify: inter-word;
    overflow-wrap: break-word;
    width: 760px;
    height: auto;
    margin-top: 10px;
}

.onetag {
    color: white;
    background-color: var(--pink5);
    border-radius: 10px;
    height: 22px;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tagtext {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 10px;
    margin: 2px 0 0 5px;
}

.text-end{
    text-align: end;
    margin-right: 20px !important;
}
  
.bg-comment2 {
    width: 97% !important;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 18px !important;
}


.comments-section {
    margin:  10px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 98%;
    border-radius: 10px;
    background-color: var(--pink2);
}

.comment {
    margin-bottom: 15px;
}

.comment p {
    margin: 0;
} 
hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
}

#focus, .focus {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
}

#edited {
    margin-left: auto;
    margin-right: 20px;
    border-radius: 10px;
    font-weight: 200;
    color: var(--pink1);
    display: flex;
}
